.dog{
    background-image: url(../images/dog.png);
    width: 100px;
    height: 142px;
    background-size: contain;
    position: absolute;
}

.bonk{
    background-image: url(../images/bonk-dog.png) !important;
    z-index: -1;
}