@font-face {
    font-family: PressStart2P;
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
  }
  @font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
  }

body{
    margin: 0;
}
*{
    font-family: Quicksand;
}
h1, h2{
    font-family: PressStart2P;
    white-space: nowrap;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-center{
    text-align: center;
}
.hidden{
    display: none;
}
.menu{
    max-width: 300px;
}
.menu>div{
    margin-bottom: 2rem;
}
button{
    padding: .5rem 1.75rem;
    border: 1px solid grey ;
    border-radius: .5rem;
    background: white;
    font-size: 1.25rem;
}
button:hover{
    background-color: lightgray;
}
button:active{
    background-color: gray;
    outline: none;
}
button:disabled{
    background-color: lightgray;
}

.dog{
    background-image: url(../images/dog.png);
    width: 100px;
    height: 142px;
    background-size: contain;
    position: absolute;
}

.bonk{
    background-image: url(../images/bonk-dog.png) !important;
    z-index: -1;
}

@keyframes progress-anim {
    from {width: 0;}
    to {width: 100%;}
  }
  


.progress{
    background-color: black;
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 3px;
    animation-name: progress-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#game-status{
    user-select: none;
}